node-red/deyeflows.json
[{"id":"26587943c6592101","type":"tab","label":"DeyeCharger","disabled":false,"info":"","env":[]},{"id":"262fcabd2c3631d7","type":"function","z":"26587943c6592101","name":"CMP LOWBAT VS ACTUALBAT","func":"let lowBattery = global.get('lowBattery'); \nlet actualBattery = parseFloat(msg.actualBattery); // Default to 0 if invalid\n\n\nif (isNaN(actualBattery)) {\n    msg.payload = \"Error: Actual battery value is not a number!\";\n    return msg;\n}\n\nif (isNaN(lowBattery)) {\n    msg.payload = \"Error: Low battery threshold is not a number!\";\n    return msg;\n}\n\nif (actualBattery > lowBattery) {\n    msg.payload = `Battery level (${actualBattery}%) is above the threshold (${lowBattery}%).`;\n    msg.result = true;\n} else {\n    msg.payload = `Battery level (${actualBattery}%) is below the threshold (${lowBattery}%).`;\n    msg.result = false;\n}\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3040,"y":1460,"wires":[["091de04987cbf0c4"]],"info":"CMP"},{"id":"091de04987cbf0c4","type":"switch","z":"26587943c6592101","name":"True = discharge , False = no","property":"result","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":3040,"y":1600,"wires":[["a6eddead78bd0a0d"],["0d838deda3922d1b"]]},{"id":"35e5c591bf649cf9","type":"api-current-state","z":"26587943c6592101","name":"Read Load Power","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.shelly_allside_power_total","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"loadPower","propertyType":"msg","value":"","valueType":"entityState"}],"for":"","forType":"num","x":2760,"y":820,"wires":[["933d3548ae8afae3"]]},{"id":"8a80fd8ab950f8bf","type":"function","z":"26587943c6592101","name":"CMP LOAD VS PV","func":"let loadPower = msg.loadPower || 0; // Ustaw domyślną wartość, jeśli brak danych\nlet pvPower = msg.pvPower || 0;     // Ustaw domyślną wartość, jeśli brak danych\n\nif (loadPower >= pvPower) {\n    msg.payload = \"Load power is greater or equal to PV power.\";\n    msg.result = true;\n} else {\n    msg.payload = \"Load power is less than PV power.\";\n    msg.result = false;\n}\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2120,"y":1720,"wires":[["80db5db1b2648a16"]]},{"id":"80db5db1b2648a16","type":"switch","z":"26587943c6592101","name":"True - LOAD HI, False PV HI","property":"result","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2410,"y":1720,"wires":[["916511c7c87c74be"],["db6a523475783170"]]},{"id":"933d3548ae8afae3","type":"api-current-state","z":"26587943c6592101","name":"Read PV Power","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.shelly_pv_power_generation_positive","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"pvPower","propertyType":"msg","value":"","valueType":"entityState"}],"for":"","forType":"num","x":2290,"y":1480,"wires":[["e9f1ce6e880d356b"]]},{"id":"916511c7c87c74be","type":"api-current-state","z":"26587943c6592101","name":"Read Battery","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.deye12kw_battery","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"actualBattery","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":2960,"y":1340,"wires":[["262fcabd2c3631d7"]]},{"id":"4529d554b636513b","type":"inject","z":"26587943c6592101","name":"START","props":[{"p":"start","v":"start","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"loop2","x":1920,"y":820,"wires":[["1d2aabd689428e63","9ebbdbb50528f073","4067e6bc47fd4916","cbbdd1d0a15af9ce","e0dadbc889093401","8224ea3e8a2f3572","882fbec11da8482c","d26ee6c6391db15c"]]},{"id":"68f837f0ec8aa817","type":"api-current-state","z":"26587943c6592101","name":"Read Load Power","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.shelly_allside_power_total","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"loadPower","propertyType":"msg","value":"","valueType":"entityState"}],"for":"","forType":"num","x":2440,"y":2460,"wires":[["fd8189b7a4079e30"]]},{"id":"fd8189b7a4079e30","type":"api-current-state","z":"26587943c6592101","name":"Read PV Power","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.shelly_pv_power_generation_positive","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"pvPower","propertyType":"msg","value":"","valueType":"entityState"}],"for":"","forType":"num","x":2430,"y":2520,"wires":[["f15a8b85cc24b1f7"]]},{"id":"4ace72491a18c1a1","type":"debug","z":"26587943c6592101","name":"Result charge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3630,"y":2880,"wires":[]},{"id":"dec929fc63f6f5c1","type":"api-call-service","z":"26587943c6592101","name":"set_charge comp","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_battery_grid_charging_current"],"labelId":[],"data":"{ \"value\": {{result}} }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":5420,"y":2800,"wires":[["273b88d9803e3b16"]]},{"id":"2fc3ab318ccce343","type":"function","z":"26587943c6592101","name":"Calculate ChargeAmps","func":"// Pobierz wartości PV Power, Load Power i actualBattery z wiadomości\nlet pvPower = msg.pvPower || 0; // Ustaw 0, jeśli brak wartości\nlet loadPower = msg.loadPower || 0;\nlet actualBattery = msg.actualBattery || 0;\n\n// Oblicz różnicę między PV Power i Load Power\nlet difference = pvPower - loadPower;\n\n// Podziel wynik przez actualBattery i zaokrąglij do najbliższej liczby całkowitej\nlet result = Math.round(difference / actualBattery);\n\n// Pobierz zmienną globalną EAmps (upewnij się, że jest ustawiona)\nlet EAmps = global.get(\"EAmps\") || 0; // Jeśli brak, ustaw na 0\nlet resulteamps = result + EAmps;\n\n// Oblicz skompensowaną wartość\nlet skompensowane = (resulteamps + 1.2) / 0.92;\nlet skompensowane_rounded = Math.round(skompensowane);\n\n// Oblicz wartość ładunku (laduj)\nlet laduj = (1 * skompensowane_rounded) - 1.2;\n\n// Pobierz wartość zmiennej globalnej MaxAmps\nlet maxAmps = global.get(\"MaxAmps\") || 0; // Ustaw 0, jeśli brak wartości\n\n// Porównaj wynik laduj z MaxAmps i ustaw ograniczenie\nif (laduj > maxAmps) {\n    laduj = maxAmps; // Jeśli laduj jest większe niż MaxAmps, ustaw laduj na MaxAmps\n}\n\nladuj = Math.round(laduj);\nif (laduj < 0) {\n    laduj = 0;\n}\n// Przypisz wynik do msg.result\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Moc ładowania \" + laduj });\nmsg.result = laduj;\n\n// Przekaż wynik do następnego węzła\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3520,"y":2800,"wires":[["dec929fc63f6f5c1","4ace72491a18c1a1"]]},{"id":"1d2aabd689428e63","type":"function","z":"26587943c6592101","name":"Set MaxAmps to 120","func":"global.set('MaxAmps', 120); \nnode.warn(`Set MaxAmps to ${global.get('MaxAmps')}`);\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":560,"wires":[[]]},{"id":"db6a523475783170","type":"api-current-state","z":"26587943c6592101","name":"Read Battery Voltage","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.deye12kw_battery_voltage","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"actualBattery","propertyType":"msg","value":"","valueType":"entityState"}],"for":"","forType":"num","x":2450,"y":2400,"wires":[["68f837f0ec8aa817"]]},{"id":"9ebbdbb50528f073","type":"function","z":"26587943c6592101","name":"Set EAmps to 0","func":"global.set('EAmps', 0); \nnode.warn(`Set EAmps to ${global.get('EAmps')}`);\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":600,"wires":[[]]},{"id":"4067e6bc47fd4916","type":"api-call-service","z":"26587943c6592101","name":"set_charge 0","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_battery_grid_charging_current"],"labelId":[],"data":"{ \"value\": 0 }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":2320,"y":820,"wires":[["35e5c591bf649cf9"]]},{"id":"b7e2eeea25b25d9a","type":"delay","z":"26587943c6592101","name":"Delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1650,"y":1660,"wires":[["55905cbc8d2ec8e3"]]},{"id":"cbbdd1d0a15af9ce","type":"function","z":"26587943c6592101","name":"Set Delay to 5","func":"global.set('Delay', 5000); \nnode.warn(`Set Delay to ${global.get('Delay')}`);\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2270,"y":640,"wires":[[]]},{"id":"e9f1ce6e880d356b","type":"function","z":"26587943c6592101","name":"SetDelay","func":"// Pobierz wartość zmiennej globalnej \"Delay\"\nlet delayValue = global.get(\"Delay\");\n\n// Jeśli zmienna \"Delay\" nie jest ustawiona, przypisz wartość domyślną (np. 5 sekund)\nif (delayValue === undefined || delayValue === null) {\n    delayValue = 5;  // Domyślne opóźnienie 5 sekund\n}\n\n// Ustaw wartość opóźnienia w msg\nmsg.delay = delayValue;\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Delay ustawiony na: \" + msg.delay });\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":1580,"wires":[["b7e2eeea25b25d9a"]]},{"id":"time_to_seconds","type":"function","z":"26587943c6592101","name":"Time to Seconds","func":"// Funkcja pomocnicza do przetwarzania czasu\nfunction parseTime(time) {\n    time = time.toString(); // Konwertuj czas na string\n\n    // Sprawdź i dostosuj format czasu\n    if (!time.includes(\":\")) {\n        if (time.includes(\".\")) {\n            // Zamień \".\" na \":\" dla ułatwienia parsowania\n            time = time.replace(\".\", \":\");\n        } else {\n            // Jeśli jest tylko godzina, dodaj \":00\"\n            time = `${time}:00`;\n        }\n    }\n\n    // Rozdziel czas na godziny, minuty i sekundy\n    let parts = time.split(':');\n    let h = parseInt(parts[0], 10) || 0;\n    let m = parseInt(parts[1], 10) || 0;\n    let s = parseInt(parts[2], 10) || 0;\n\n    // Oblicz czas w sekundach\n    return h * 3600 + m * 60 + s;\n}\n\n// Przetwarzanie czasów od p1time do p6time\nlet timesInSeconds = {};\nfor (let i = 1; i <= 6; i++) {\n    let key = `p${i}time`;\n    if (msg[key] !== undefined) {\n        timesInSeconds[key] = parseTime(msg[key]);\n    }\n}\n\n// Przekaż wyniki dalej\nmsg.ptimes = timesInSeconds;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3600,"y":1500,"wires":[["4f187841c64ff6f7"]]},{"id":"a6eddead78bd0a0d","type":"api-current-state","z":"26587943c6592101","name":"Read P1 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_1_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p1time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3590,"y":1100,"wires":[["76a3d5a416235cdf"]]},{"id":"76a3d5a416235cdf","type":"api-current-state","z":"26587943c6592101","name":"Read P2 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_2_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p2time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3590,"y":1180,"wires":[["ddcfc0f9cb699df6"]]},{"id":"ddcfc0f9cb699df6","type":"api-current-state","z":"26587943c6592101","name":"Read P3 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_3_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p3time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3590,"y":1240,"wires":[["fd3a9f9214d54dbf"]]},{"id":"fd3a9f9214d54dbf","type":"api-current-state","z":"26587943c6592101","name":"Read P4 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_4_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p4time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3590,"y":1300,"wires":[["edc3845f5465bbab"]]},{"id":"edc3845f5465bbab","type":"api-current-state","z":"26587943c6592101","name":"Read P5 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_5_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p5time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3590,"y":1360,"wires":[["fed1e6f6d8fbc175"]]},{"id":"fed1e6f6d8fbc175","type":"api-current-state","z":"26587943c6592101","name":"Read P6 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_6_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p6time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3590,"y":1420,"wires":[["time_to_seconds"]]},{"id":"4f187841c64ff6f7","type":"function","z":"26587943c6592101","name":"Match Ptime","func":"// Pobierz aktualny czas w sekundach od początku dnia\nlet now = new Date();\nlet timetodaysec = now.getHours() * 3600 + now.getMinutes() * 60 + now.getSeconds();\n\n// Pobierz harmonogramy z msg.ptimes\nlet ptimes = msg.ptimes;\n\n// Funkcja pomocnicza do sprawdzania przedziałów czasu\nfunction checkSchedule(currentTime, startTime, endTime) {\n    if (startTime <= endTime) {\n        // Przedział w obrębie tego samego dnia\n        return currentTime >= startTime && currentTime < endTime;\n    } else {\n        // Przedział obejmuje północ (startTime > endTime)\n        return currentTime >= startTime || currentTime < endTime;\n    }\n}\n\nif (checkSchedule(timetodaysec, ptimes.p1time, ptimes.p2time)) {\n    msg.payload = \"select.deye12kw_program_1_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p2time, ptimes.p3time)) {\n    msg.payload = \"select.deye12kw_program_2_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p3time, ptimes.p4time)) {\n    msg.payload = \"select.deye12kw_program_3_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p4time, ptimes.p5time)) {\n    msg.payload = \"select.deye12kw_program_4_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p5time, ptimes.p6time)) {\n    msg.payload = \"select.deye12kw_program_5_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p6time, ptimes.p1time)) {\n    msg.payload = \"select.deye12kw_program_6_charging\";\n} else {\n    msg.payload = \"Brak dopasowania do harmonogramu\";\n}\n\n// Przekaż wynik dalej\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3600,"y":1580,"wires":[["switch_node","e722a30180b5bec5"]]},{"id":"switch_node","type":"switch","z":"26587943c6592101","name":"Switch disabled","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"select.deye12kw_program_1_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_2_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_3_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_4_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_5_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_6_charging","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":3850,"y":1520,"wires":[["action_1"],["action_2"],["action_3"],["action_4"],["action_5"],["action_6"],["no_match"]]},{"id":"action_1","type":"api-call-service","z":"26587943c6592101","name":"Program 1 Disabled","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_1_charging"],"labelId":[],"data":"{\"option\": \"Disabled\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4250,"y":1200,"wires":[["f57a2d5b72baeb0e"]]},{"id":"action_2","type":"api-call-service","z":"26587943c6592101","name":"Program 2 Disabled","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_2_charging"],"labelId":[],"data":"{\"option\": \"Disabled\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4250,"y":1240,"wires":[["30224c418d811262"]]},{"id":"action_3","type":"api-call-service","z":"26587943c6592101","name":"Program 3 Disabled","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_3_charging"],"labelId":[],"data":"{\"option\": \"Disabled\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4250,"y":1280,"wires":[["e6b214a1dad39818"]]},{"id":"action_4","type":"api-call-service","z":"26587943c6592101","name":"Program 4 Disabled","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_4_charging"],"labelId":[],"data":"{\"option\": \"Disabled\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4250,"y":1320,"wires":[["ce4d1e2ee375a1a5"]]},{"id":"action_5","type":"api-call-service","z":"26587943c6592101","name":"Program 5 Disabled","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_5_charging"],"labelId":[],"data":"{\"option\": \"Disabled\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4250,"y":1360,"wires":[["a7b4656ad0be74ec"]]},{"id":"action_6","type":"api-call-service","z":"26587943c6592101","name":"Program 6 Disabled","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_6_charging"],"labelId":[],"data":"{\"option\": \"Disabled\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4250,"y":1400,"wires":[["965e32bc9877ff17"]]},{"id":"no_match","type":"debug","z":"26587943c6592101","name":"No Match","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4210,"y":1460,"wires":[]},{"id":"7522df6e5afd3384","type":"function","z":"26587943c6592101","name":"Time to Seconds","func":"// Funkcja pomocnicza do przetwarzania czasu\nfunction parseTime(time) {\n    time = time.toString(); // Konwertuj czas na string\n\n    // Sprawdź i dostosuj format czasu\n    if (!time.includes(\":\")) {\n        if (time.includes(\".\")) {\n            // Zamień \".\" na \":\" dla ułatwienia parsowania\n            time = time.replace(\".\", \":\");\n        } else {\n            // Jeśli jest tylko godzina, dodaj \":00\"\n            time = `${time}:00`;\n        }\n    }\n\n    // Rozdziel czas na godziny, minuty i sekundy\n    let parts = time.split(':');\n    let h = parseInt(parts[0], 10) || 0;\n    let m = parseInt(parts[1], 10) || 0;\n    let s = parseInt(parts[2], 10) || 0;\n\n    // Oblicz czas w sekundach\n    return h * 3600 + m * 60 + s;\n}\n\n// Przetwarzanie czasów od p1time do p6time\nlet timesInSeconds = {};\nfor (let i = 1; i <= 6; i++) {\n    let key = `p${i}time`;\n    if (msg[key] !== undefined) {\n        timesInSeconds[key] = parseTime(msg[key]);\n    }\n}\n\n// Przekaż wyniki dalej\nmsg.ptimes = timesInSeconds;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3800,"y":2440,"wires":[["ef42fb5cde94ac7d"]]},{"id":"6cd4fe2fa1a5190f","type":"api-current-state","z":"26587943c6592101","name":"Read P1 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_1_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p1time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3790,"y":2040,"wires":[["854537cdedce8c4b"]]},{"id":"854537cdedce8c4b","type":"api-current-state","z":"26587943c6592101","name":"Read P2 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_2_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p2time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3790,"y":2120,"wires":[["2b0645d6df678edc"]]},{"id":"2b0645d6df678edc","type":"api-current-state","z":"26587943c6592101","name":"Read P3 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_3_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p3time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3790,"y":2180,"wires":[["6c2ab6ef0fead5df"]]},{"id":"6c2ab6ef0fead5df","type":"api-current-state","z":"26587943c6592101","name":"Read P4 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_4_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p4time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3790,"y":2240,"wires":[["16f450d1b390aa3a"]]},{"id":"16f450d1b390aa3a","type":"api-current-state","z":"26587943c6592101","name":"Read P5 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_5_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p5time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3790,"y":2300,"wires":[["63dbf3d906b6289e"]]},{"id":"63dbf3d906b6289e","type":"api-current-state","z":"26587943c6592101","name":"Read P6 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_6_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p6time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":3790,"y":2360,"wires":[["7522df6e5afd3384"]]},{"id":"ef42fb5cde94ac7d","type":"function","z":"26587943c6592101","name":"Match Ptime","func":"// Pobierz aktualny czas w sekundach od początku dnia\nlet now = new Date();\nlet timetodaysec = now.getHours() * 3600 + now.getMinutes() * 60 + now.getSeconds();\n\n// Pobierz harmonogramy z msg.ptimes\nlet ptimes = msg.ptimes;\n\n// Funkcja pomocnicza do sprawdzania przedziałów czasu\nfunction checkSchedule(currentTime, startTime, endTime) {\n    if (startTime <= endTime) {\n        // Przedział w obrębie tego samego dnia\n        return currentTime >= startTime && currentTime < endTime;\n    } else {\n        // Przedział obejmuje północ (startTime > endTime)\n        return currentTime >= startTime || currentTime < endTime;\n    }\n}\n\nif (checkSchedule(timetodaysec, ptimes.p1time, ptimes.p2time)) {\n    msg.payload = \"select.deye12kw_program_1_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p2time, ptimes.p3time)) {\n    msg.payload = \"select.deye12kw_program_2_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p3time, ptimes.p4time)) {\n    msg.payload = \"select.deye12kw_program_3_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p4time, ptimes.p5time)) {\n    msg.payload = \"select.deye12kw_program_4_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p5time, ptimes.p6time)) {\n    msg.payload = \"select.deye12kw_program_5_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p6time, ptimes.p1time)) {\n    msg.payload = \"select.deye12kw_program_6_charging\";\n} else {\n    msg.payload = \"Brak dopasowania do harmonogramu\";\n}\n\n// Przekaż wynik dalej\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3800,"y":2520,"wires":[["5b677d892b0c1a38"]]},{"id":"5b677d892b0c1a38","type":"switch","z":"26587943c6592101","name":"Switch Grid","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"select.deye12kw_program_1_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_2_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_3_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_4_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_5_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_6_charging","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":4020,"y":2500,"wires":[["8b67f5eaccdda871"],["a37160f805a220dc"],["bc9456722e9f114c"],["a4a37dda5f27921a"],["ff3399aec33117bc"],["df9acfa98413d201"],["250a0ec25a101d28"]]},{"id":"8b67f5eaccdda871","type":"api-call-service","z":"26587943c6592101","name":"Program 1 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_1_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4430,"y":2140,"wires":[["d60ff8454706ceed"]]},{"id":"a37160f805a220dc","type":"api-call-service","z":"26587943c6592101","name":"Program 2 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_2_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4430,"y":2180,"wires":[["8eae3937fedd8e19"]]},{"id":"bc9456722e9f114c","type":"api-call-service","z":"26587943c6592101","name":"Program 3 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_3_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4430,"y":2220,"wires":[["f191d2450b9407c3"]]},{"id":"a4a37dda5f27921a","type":"api-call-service","z":"26587943c6592101","name":"Program 4 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_4_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4430,"y":2260,"wires":[["5a892621ad98e0f9"]]},{"id":"ff3399aec33117bc","type":"api-call-service","z":"26587943c6592101","name":"Program 5 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_5_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4430,"y":2300,"wires":[["1f90fefda4af3af3"]]},{"id":"df9acfa98413d201","type":"api-call-service","z":"26587943c6592101","name":"Program 6 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_6_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":4430,"y":2340,"wires":[["719091454eb814be"]]},{"id":"250a0ec25a101d28","type":"debug","z":"26587943c6592101","name":"No Match","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4390,"y":2560,"wires":[]},{"id":"e0dadbc889093401","type":"function","z":"26587943c6592101","name":"Set lowBattery to 35","func":"global.set('lowBattery', 35); \nnode.warn(`Set lowBattery to ${global.get('lowBattery')}`);\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":520,"wires":[[]]},{"id":"8224ea3e8a2f3572","type":"function","z":"26587943c6592101","name":"Set Maxbat to 98","func":"global.set('Maxbat', 98); \nnode.warn(`Set Maxbat to ${global.get('Maxbat')}`);\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":480,"wires":[[]]},{"id":"719091454eb814be","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4660,"y":2340,"wires":[["1442e218e1f286a0"]]},{"id":"1442e218e1f286a0","type":"api-call-service","z":"26587943c6592101","name":"Program 6 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_6_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4900,"y":2340,"wires":[["273b88d9803e3b16"]]},{"id":"1f90fefda4af3af3","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4660,"y":2300,"wires":[["8460cbbad8ca2918"]]},{"id":"8460cbbad8ca2918","type":"api-call-service","z":"26587943c6592101","name":"Program 5 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_5_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4900,"y":2300,"wires":[["273b88d9803e3b16"]]},{"id":"5a892621ad98e0f9","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4660,"y":2260,"wires":[["bc8665d858f92d9f"]]},{"id":"bc8665d858f92d9f","type":"api-call-service","z":"26587943c6592101","name":"Program 4 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_4_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4900,"y":2260,"wires":[["273b88d9803e3b16"]]},{"id":"f191d2450b9407c3","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4660,"y":2220,"wires":[["aaa703d56f4224e2"]]},{"id":"aaa703d56f4224e2","type":"api-call-service","z":"26587943c6592101","name":"Program 3 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_3_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4900,"y":2220,"wires":[["273b88d9803e3b16"]]},{"id":"8eae3937fedd8e19","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4660,"y":2180,"wires":[["617dcc04c1ddbe8d"]]},{"id":"617dcc04c1ddbe8d","type":"api-call-service","z":"26587943c6592101","name":"Program 2 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_2_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4900,"y":2180,"wires":[["273b88d9803e3b16"]]},{"id":"d60ff8454706ceed","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4660,"y":2140,"wires":[["bf34050a485cec88"]]},{"id":"bf34050a485cec88","type":"api-call-service","z":"26587943c6592101","name":"Program 1 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_1_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4900,"y":2140,"wires":[["273b88d9803e3b16"]]},{"id":"0d838deda3922d1b","type":"api-call-service","z":"26587943c6592101","name":"set_charge 0","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_battery_grid_charging_current"],"labelId":[],"data":"{ \"value\": 0 }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":3470,"y":2460,"wires":[["6cd4fe2fa1a5190f"]]},{"id":"965e32bc9877ff17","type":"function","z":"26587943c6592101","name":"Get lowBattery","func":"msg.payload = {\n    value: global.get(\"lowBattery\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4510,"y":1400,"wires":[["6282b9427cdad429"]]},{"id":"6282b9427cdad429","type":"api-call-service","z":"26587943c6592101","name":"Program 6 lowBattery","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_6_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4750,"y":1400,"wires":[["273b88d9803e3b16"]]},{"id":"a7b4656ad0be74ec","type":"function","z":"26587943c6592101","name":"Get lowBattery","func":"msg.payload = {\n    value: global.get(\"lowBattery\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4510,"y":1360,"wires":[["12181f010aa56530"]]},{"id":"12181f010aa56530","type":"api-call-service","z":"26587943c6592101","name":"Program 5 lowBattery","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_5_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4750,"y":1360,"wires":[["273b88d9803e3b16"]]},{"id":"ce4d1e2ee375a1a5","type":"function","z":"26587943c6592101","name":"Get lowBattery","func":"msg.payload = {\n    value: global.get(\"lowBattery\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4510,"y":1320,"wires":[["b5c25229de07536b"]]},{"id":"b5c25229de07536b","type":"api-call-service","z":"26587943c6592101","name":"Program 4 lowBattery","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_4_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4750,"y":1320,"wires":[["273b88d9803e3b16"]]},{"id":"e6b214a1dad39818","type":"function","z":"26587943c6592101","name":"Get lowBattery","func":"msg.payload = {\n    value: global.get(\"lowBattery\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4510,"y":1280,"wires":[["e709c4bcbbb52760"]]},{"id":"e709c4bcbbb52760","type":"api-call-service","z":"26587943c6592101","name":"Program 3 lowBattery","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_3_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4750,"y":1280,"wires":[["273b88d9803e3b16"]]},{"id":"30224c418d811262","type":"function","z":"26587943c6592101","name":"Get lowBattery","func":"msg.payload = {\n    value: global.get(\"lowBattery\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4510,"y":1240,"wires":[["e61695ea43b9e64e"]]},{"id":"e61695ea43b9e64e","type":"api-call-service","z":"26587943c6592101","name":"Program 2 lowBattery","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_2_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4750,"y":1240,"wires":[["273b88d9803e3b16"]]},{"id":"f57a2d5b72baeb0e","type":"function","z":"26587943c6592101","name":"Get lowBattery","func":"msg.payload = {\n    value: global.get(\"lowBattery\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4510,"y":1200,"wires":[["f72efec405bc4024"]]},{"id":"f72efec405bc4024","type":"api-call-service","z":"26587943c6592101","name":"Program 1 lowBattery","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_1_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":4750,"y":1200,"wires":[["273b88d9803e3b16"]]},{"id":"243160205ee8c957","type":"function","z":"26587943c6592101","name":"Time to Seconds","func":"// Funkcja pomocnicza do przetwarzania czasu\nfunction parseTime(time) {\n    time = time.toString(); // Konwertuj czas na string\n\n    // Sprawdź i dostosuj format czasu\n    if (!time.includes(\":\")) {\n        if (time.includes(\".\")) {\n            // Zamień \".\" na \":\" dla ułatwienia parsowania\n            time = time.replace(\".\", \":\");\n        } else {\n            // Jeśli jest tylko godzina, dodaj \":00\"\n            time = `${time}:00`;\n        }\n    }\n\n    // Rozdziel czas na godziny, minuty i sekundy\n    let parts = time.split(':');\n    let h = parseInt(parts[0], 10) || 0;\n    let m = parseInt(parts[1], 10) || 0;\n    let s = parseInt(parts[2], 10) || 0;\n\n    // Oblicz czas w sekundach\n    return h * 3600 + m * 60 + s;\n}\n\n// Przetwarzanie czasów od p1time do p6time\nlet timesInSeconds = {};\nfor (let i = 1; i <= 6; i++) {\n    let key = `p${i}time`;\n    if (msg[key] !== undefined) {\n        timesInSeconds[key] = parseTime(msg[key]);\n    }\n}\n\n// Przekaż wyniki dalej\nmsg.ptimes = timesInSeconds;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2440,"y":3000,"wires":[["24cf45167dc62efc"]]},{"id":"f15a8b85cc24b1f7","type":"api-current-state","z":"26587943c6592101","name":"Read P1 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_1_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p1time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":2430,"y":2600,"wires":[["d10b6bbd5ec1eaad"]]},{"id":"d10b6bbd5ec1eaad","type":"api-current-state","z":"26587943c6592101","name":"Read P2 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_2_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p2time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":2430,"y":2680,"wires":[["159e5c13142a430c"]]},{"id":"159e5c13142a430c","type":"api-current-state","z":"26587943c6592101","name":"Read P3 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_3_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p3time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":2430,"y":2740,"wires":[["b61e347f0ceb62e7"]]},{"id":"b61e347f0ceb62e7","type":"api-current-state","z":"26587943c6592101","name":"Read P4 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_4_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p4time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":2430,"y":2800,"wires":[["818a46dfc53fd8ab"]]},{"id":"818a46dfc53fd8ab","type":"api-current-state","z":"26587943c6592101","name":"Read P5 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_5_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p5time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":2430,"y":2860,"wires":[["a605b9d6ba049d09"]]},{"id":"a605b9d6ba049d09","type":"api-current-state","z":"26587943c6592101","name":"Read P6 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_6_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p6time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":2430,"y":2920,"wires":[["243160205ee8c957"]]},{"id":"24cf45167dc62efc","type":"function","z":"26587943c6592101","name":"Match Ptime","func":"// Pobierz aktualny czas w sekundach od początku dnia\nlet now = new Date();\nlet timetodaysec = now.getHours() * 3600 + now.getMinutes() * 60 + now.getSeconds();\n\n// Pobierz harmonogramy z msg.ptimes\nlet ptimes = msg.ptimes;\n\n// Funkcja pomocnicza do sprawdzania przedziałów czasu\nfunction checkSchedule(currentTime, startTime, endTime) {\n    if (startTime <= endTime) {\n        // Przedział w obrębie tego samego dnia\n        return currentTime >= startTime && currentTime < endTime;\n    } else {\n        // Przedział obejmuje północ (startTime > endTime)\n        return currentTime >= startTime || currentTime < endTime;\n    }\n}\n\nif (checkSchedule(timetodaysec, ptimes.p1time, ptimes.p2time)) {\n    msg.payload = \"select.deye12kw_program_1_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p2time, ptimes.p3time)) {\n    msg.payload = \"select.deye12kw_program_2_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p3time, ptimes.p4time)) {\n    msg.payload = \"select.deye12kw_program_3_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p4time, ptimes.p5time)) {\n    msg.payload = \"select.deye12kw_program_4_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p5time, ptimes.p6time)) {\n    msg.payload = \"select.deye12kw_program_5_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p6time, ptimes.p1time)) {\n    msg.payload = \"select.deye12kw_program_6_charging\";\n} else {\n    msg.payload = \"Brak dopasowania do harmonogramu\";\n}\n\n// Przekaż wynik dalej\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Harmonogram \" + msg.payload });\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":3100,"wires":[["ca6b2a5022b8bac3","6f88af496b5b3b55","5fd007d8fa242913","872181e14ebf4eb7"]]},{"id":"ca6b2a5022b8bac3","type":"switch","z":"26587943c6592101","name":"Switch Grid","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"select.deye12kw_program_1_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_2_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_3_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_4_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_5_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_6_charging","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":2740,"y":3080,"wires":[["8b523cbf69da72f4"],["ba8410573d593625"],["e0ac168c535848eb"],["758b6de74da14281"],["b9bd5689d4683db2"],["e5fbce218f8b9c76"],["8862d63b4f9658fb"]]},{"id":"8b523cbf69da72f4","type":"api-call-service","z":"26587943c6592101","name":"Program 1 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_1_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":3070,"y":2700,"wires":[["2fc3ab318ccce343"]]},{"id":"ba8410573d593625","type":"api-call-service","z":"26587943c6592101","name":"Program 2 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_2_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":3070,"y":2740,"wires":[["2fc3ab318ccce343"]]},{"id":"e0ac168c535848eb","type":"api-call-service","z":"26587943c6592101","name":"Program 3 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_3_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":3070,"y":2780,"wires":[["2fc3ab318ccce343"]]},{"id":"758b6de74da14281","type":"api-call-service","z":"26587943c6592101","name":"Program 4 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_4_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":3070,"y":2820,"wires":[["2fc3ab318ccce343"]]},{"id":"b9bd5689d4683db2","type":"api-call-service","z":"26587943c6592101","name":"Program 5 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_5_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":3070,"y":2860,"wires":[["2fc3ab318ccce343"]]},{"id":"e5fbce218f8b9c76","type":"api-call-service","z":"26587943c6592101","name":"Program 6 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_6_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":3070,"y":2900,"wires":[["2fc3ab318ccce343"]]},{"id":"8862d63b4f9658fb","type":"debug","z":"26587943c6592101","name":"No Match","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3070,"y":3040,"wires":[]},{"id":"273b88d9803e3b16","type":"function","z":"26587943c6592101","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\nmsg.count = msg.count || 0;\nmsg.count++;\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Przebieg \" + msg.count });\n\nswitch (msg.start) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.start = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.start = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.start = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.start = \"1 cykl zakonczony\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.start = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":5280,"y":1140,"wires":[["35e5c591bf649cf9","2a34ff40dec27bcb"],[]]},{"id":"a8c2ccdd8b06eabb","type":"inject","z":"26587943c6592101","name":"STOP","props":[{"p":"start","v":"stop","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"loop2","x":1920,"y":880,"wires":[["273b88d9803e3b16"]]},{"id":"2a34ff40dec27bcb","type":"debug","z":"26587943c6592101","name":"LOOP COUNTER","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"start","targetType":"msg","statusVal":"","statusType":"auto","x":5600,"y":1160,"wires":[]},{"id":"6f88af496b5b3b55","type":"debug","z":"26587943c6592101","name":"PTIMES","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"ptimes","targetType":"msg","statusVal":"","statusType":"auto","x":2590,"y":3260,"wires":[]},{"id":"5fd007d8fa242913","type":"debug","z":"26587943c6592101","name":"Full Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2460,"y":3360,"wires":[]},{"id":"872181e14ebf4eb7","type":"debug","z":"26587943c6592101","name":"Program Wybrany","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2960,"y":3260,"wires":[]},{"id":"e722a30180b5bec5","type":"debug","z":"26587943c6592101","name":"Program Wybrany","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3860,"y":1680,"wires":[]},{"id":"882fbec11da8482c","type":"function","z":"26587943c6592101","name":"Set CritBattery to 25","func":"global.set('CritBattery', 25); \nnode.warn(`Set CritBattery to ${global.get('CritBattery')}`);\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":680,"wires":[[]]},{"id":"d26ee6c6391db15c","type":"function","z":"26587943c6592101","name":"Set GridAmps to 80","func":"global.set('Gridamps', 80); \nnode.warn(`Set Gridamps to ${global.get('Gridamps')}`);\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":720,"wires":[[]]},{"id":"9d1cf1ce9003a93c","type":"function","z":"26587943c6592101","name":"CMP CRITBAT VS ACTUALBAT","func":"let CritBattery = global.get('CritBattery'); \nlet actualBattery = parseFloat(msg.actualBattery); // Default to 0 if invalid\n\n\nif (isNaN(actualBattery)) {\n    msg.payload = \"Error: Actual battery value is not a number!\";\n    return msg;\n}\n\nif (isNaN(CritBattery)) {\n    msg.payload = \"Error: Critical battery threshold is not a number!\";\n    return msg;\n}\n\nif (actualBattery  > CritBattery) {\n    msg.payload = `Nie wymuszam ładowania, aktualne naładowanie (${actualBattery}%) wieksze niż (${CritBattery}%) krytyczne`;\n    msg.result = false;\n} else {\n    msg.payload = `Wymuszam ładowanie, aktualne naładowanie (${actualBattery}%) poniżej (${CritBattery}%) krytyczne`;\n    msg.result = true;\n}\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1820,"wires":[["cab4016d9998e493"]],"info":"CMP"},{"id":"cab4016d9998e493","type":"switch","z":"26587943c6592101","name":"True = force , False = skip","property":"result","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":1820,"wires":[["e411d959173a047f"],["8a80fd8ab950f8bf"]]},{"id":"55905cbc8d2ec8e3","type":"api-current-state","z":"26587943c6592101","name":"Read Battery","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.deye12kw_battery","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"actualBattery","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":690,"y":1720,"wires":[["9d1cf1ce9003a93c"]]},{"id":"5f87580bb2860a38","type":"api-call-service","z":"26587943c6592101","name":"set_charge gridsamps","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_battery_grid_charging_current"],"labelId":[],"data":"{ \"value\": {{global.Gridamps}} }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":2100,"y":2060,"wires":[["b63748faefe87f7d"]]},{"id":"592fa07360f24a08","type":"delay","z":"26587943c6592101","name":"Delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2010,"y":1900,"wires":[["55905cbc8d2ec8e3"]]},{"id":"b63748faefe87f7d","type":"function","z":"26587943c6592101","name":"SetDelay","func":"// Pobierz wartość zmiennej globalnej \"Delay\"\nlet delayValue = global.get(\"Delay\");\n\n// Jeśli zmienna \"Delay\" nie jest ustawiona, przypisz wartość domyślną (np. 5 sekund)\nif (delayValue === undefined || delayValue === null) {\n    delayValue = 5;  // Domyślne opóźnienie 5 sekund\n}\n\n// Ustaw wartość opóźnienia w msg\nmsg.delay = delayValue;\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Delay ustawiony na: \" + msg.delay });\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":1960,"wires":[["592fa07360f24a08"]]},{"id":"11f3f33d84e4b1ee","type":"function","z":"26587943c6592101","name":"Time to Seconds","func":"// Funkcja pomocnicza do przetwarzania czasu\nfunction parseTime(time) {\n    time = time.toString(); // Konwertuj czas na string\n\n    // Sprawdź i dostosuj format czasu\n    if (!time.includes(\":\")) {\n        if (time.includes(\".\")) {\n            // Zamień \".\" na \":\" dla ułatwienia parsowania\n            time = time.replace(\".\", \":\");\n        } else {\n            // Jeśli jest tylko godzina, dodaj \":00\"\n            time = `${time}:00`;\n        }\n    }\n\n    // Rozdziel czas na godziny, minuty i sekundy\n    let parts = time.split(':');\n    let h = parseInt(parts[0], 10) || 0;\n    let m = parseInt(parts[1], 10) || 0;\n    let s = parseInt(parts[2], 10) || 0;\n\n    // Oblicz czas w sekundach\n    return h * 3600 + m * 60 + s;\n}\n\n// Przetwarzanie czasów od p1time do p6time\nlet timesInSeconds = {};\nfor (let i = 1; i <= 6; i++) {\n    let key = `p${i}time`;\n    if (msg[key] !== undefined) {\n        timesInSeconds[key] = parseTime(msg[key]);\n    }\n}\n\n// Przekaż wyniki dalej\nmsg.ptimes = timesInSeconds;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":2300,"wires":[["a34aeb7e72e7c935"]]},{"id":"e411d959173a047f","type":"api-current-state","z":"26587943c6592101","name":"Read P1 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_1_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p1time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":1900,"wires":[["cc2659d04c86522b"]]},{"id":"cc2659d04c86522b","type":"api-current-state","z":"26587943c6592101","name":"Read P2 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_2_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p2time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":1980,"wires":[["c442620bb035f687"]]},{"id":"c442620bb035f687","type":"api-current-state","z":"26587943c6592101","name":"Read P3 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_3_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p3time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":2040,"wires":[["12b15d1dc51fbf06"]]},{"id":"12b15d1dc51fbf06","type":"api-current-state","z":"26587943c6592101","name":"Read P4 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_4_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p4time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":2100,"wires":[["de6d600d5766545f"]]},{"id":"de6d600d5766545f","type":"api-current-state","z":"26587943c6592101","name":"Read P5 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_5_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p5time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":2160,"wires":[["32388a491f8a2b35"]]},{"id":"32388a491f8a2b35","type":"api-current-state","z":"26587943c6592101","name":"Read P6 Time","server":"ed415496.502c28","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"time.deye12kw_program_6_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"p6time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":2220,"wires":[["11f3f33d84e4b1ee"]]},{"id":"a34aeb7e72e7c935","type":"function","z":"26587943c6592101","name":"Match Ptime","func":"// Pobierz aktualny czas w sekundach od początku dnia\nlet now = new Date();\nlet timetodaysec = now.getHours() * 3600 + now.getMinutes() * 60 + now.getSeconds();\n\n// Pobierz harmonogramy z msg.ptimes\nlet ptimes = msg.ptimes;\n\n// Funkcja pomocnicza do sprawdzania przedziałów czasu\nfunction checkSchedule(currentTime, startTime, endTime) {\n    if (startTime <= endTime) {\n        // Przedział w obrębie tego samego dnia\n        return currentTime >= startTime && currentTime < endTime;\n    } else {\n        // Przedział obejmuje północ (startTime > endTime)\n        return currentTime >= startTime || currentTime < endTime;\n    }\n}\n\nif (checkSchedule(timetodaysec, ptimes.p1time, ptimes.p2time)) {\n    msg.payload = \"select.deye12kw_program_1_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p2time, ptimes.p3time)) {\n    msg.payload = \"select.deye12kw_program_2_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p3time, ptimes.p4time)) {\n    msg.payload = \"select.deye12kw_program_3_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p4time, ptimes.p5time)) {\n    msg.payload = \"select.deye12kw_program_4_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p5time, ptimes.p6time)) {\n    msg.payload = \"select.deye12kw_program_5_charging\";\n} else if (checkSchedule(timetodaysec, ptimes.p6time, ptimes.p1time)) {\n    msg.payload = \"select.deye12kw_program_6_charging\";\n} else {\n    msg.payload = \"Brak dopasowania do harmonogramu\";\n}\n\n// Przekaż wynik dalej\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":2380,"wires":[["746a34ccea3fc35e"]]},{"id":"746a34ccea3fc35e","type":"switch","z":"26587943c6592101","name":"Switch Grid","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"select.deye12kw_program_1_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_2_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_3_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_4_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_5_charging","vt":"str"},{"t":"eq","v":"select.deye12kw_program_6_charging","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":1010,"y":2080,"wires":[["c5ddec18e51cf512"],["878e9ef83a3e7e96"],["db3dd6b4e8a99b05"],["4cef053a95bf3edd"],["88be4c2ee7079c29"],["b1baa3cd07549163"],["182f46baa729a748"]]},{"id":"c5ddec18e51cf512","type":"api-call-service","z":"26587943c6592101","name":"Program 1 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_1_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":1320,"y":2000,"wires":[["f37487e902e84146"]]},{"id":"878e9ef83a3e7e96","type":"api-call-service","z":"26587943c6592101","name":"Program 2 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_2_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":1320,"y":2040,"wires":[["fea4546d2edc4e86"]]},{"id":"db3dd6b4e8a99b05","type":"api-call-service","z":"26587943c6592101","name":"Program 3 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_3_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":1320,"y":2080,"wires":[["dc5e07d9221a1ae5"]]},{"id":"4cef053a95bf3edd","type":"api-call-service","z":"26587943c6592101","name":"Program 4 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_4_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":1320,"y":2120,"wires":[["3565cdb3b022fadd"]]},{"id":"88be4c2ee7079c29","type":"api-call-service","z":"26587943c6592101","name":"Program 5 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_5_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":1320,"y":2160,"wires":[["ebc741520a783594"]]},{"id":"b1baa3cd07549163","type":"api-call-service","z":"26587943c6592101","name":"Program 6 Grid","server":"ed415496.502c28","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.deye12kw_program_6_charging"],"labelId":[],"data":"{\"option\": \"Grid\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"select","service":"select_option","output_location":"","output_location_type":"none","x":1320,"y":2200,"wires":[["b2eb6faaca74b46a"]]},{"id":"182f46baa729a748","type":"debug","z":"26587943c6592101","name":"No Match","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":2280,"wires":[]},{"id":"b2eb6faaca74b46a","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":2200,"wires":[["4938f627efc6b6e1"]]},{"id":"4938f627efc6b6e1","type":"api-call-service","z":"26587943c6592101","name":"Program 6 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_6_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":1790,"y":2200,"wires":[["5f87580bb2860a38"]]},{"id":"ebc741520a783594","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":2160,"wires":[["382b5c9b08a01811"]]},{"id":"382b5c9b08a01811","type":"api-call-service","z":"26587943c6592101","name":"Program 5 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_5_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":1790,"y":2160,"wires":[["5f87580bb2860a38"]]},{"id":"3565cdb3b022fadd","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":2120,"wires":[["bcd6a6c1eb025d79"]]},{"id":"bcd6a6c1eb025d79","type":"api-call-service","z":"26587943c6592101","name":"Program 4 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_4_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":1790,"y":2120,"wires":[["5f87580bb2860a38"]]},{"id":"dc5e07d9221a1ae5","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":2080,"wires":[["bdee4c50442fc2d4"]]},{"id":"bdee4c50442fc2d4","type":"api-call-service","z":"26587943c6592101","name":"Program 3 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_3_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":1790,"y":2080,"wires":[["5f87580bb2860a38"]]},{"id":"fea4546d2edc4e86","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":2040,"wires":[["ea1fcf0fd4bc1da1"]]},{"id":"ea1fcf0fd4bc1da1","type":"api-call-service","z":"26587943c6592101","name":"Program 2 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_2_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":1790,"y":2040,"wires":[["5f87580bb2860a38"]]},{"id":"f37487e902e84146","type":"function","z":"26587943c6592101","name":"Get Maxbat","func":"msg.payload = {\n    value: global.get(\"Maxbat\") || 0\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":2000,"wires":[["824a7dd9c65ec269"]]},{"id":"824a7dd9c65ec269","type":"api-call-service","z":"26587943c6592101","name":"Program 1 Maxbat","server":"ed415496.502c28","version":7,"debugenabled":true,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye12kw_program_1_soc"],"labelId":[],"data":"{\"value\": {{payload.value}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"number","service":"set_value","x":1790,"y":2000,"wires":[["5f87580bb2860a38"]]},{"id":"ed415496.502c28","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]